<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicación de Analizador Léxico</h2>

    <p>Para la construcción de esta aplicación se hizo uso de java para poder desarrollar la programación especifica creando una aplicación de analisis léxica, para ellos se desarrollaron los siguientes puntos:</p>

    <h4>Estructura de Datos:</h4>

    <p>Se tomo en cuenta una estructura de datos para representar el token. estos se pueden crear por medio clase de token con propiedades como tipo y valor para almacenar información sobre cada token.</p>

    <h4>Reconocimiento de Tokens:</h4>

    <p>Se agrego una lógica para identificar y clasificar tokens según las reglas definidas en la gramática.</p>


        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/10zCvejkaYXEcn3_jyWUypCIY0YT6_eRg/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>