<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Interfaz de Escritorio de Sistemas Operativos</h2>

        <p class="texto">La siguiente aplicación cumple con las funciones especificas para conocer las características de un equipo de computo en el cual desarrollará los siguientes procesos:</p>
        <ul class="texto">
            <li>Identificar la versión de Windows instalada</li>
            <li>Identificar el hardware</li>
            <li>Identificar el software del equipo</li>
            <li>Identificar procesos que están en ejecución</li>
            <li>Integrar el monitoreo de los recursos de la computadora</li>
            <li>Integrar conexiones de red activas, entrantes y salientes</li>
            <li>Concurrencia</li>
            <li>Interbloqueos</li>
        </ul>


        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/16gwGlZfoUmBJ3NC9swZoB5FzOiQN5OUP/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>