<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicaci칩n de Lengua de Se침as </h2>

    <p>Esta es una aplicaci칩n desarrollada tomando en cuenta la lengua de se침as, dicho proyecto fue elaborado con android studio.</p>


        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1hh5pm12rbr-5Z0jKB7Q3kjXaTC-v_lkp/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>