<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicación proyecto Base NODE JS </h2>

    <p class="texto">En esta aplicación se desarrollo un proyecto haciendo uso de yargs, en este ejercicio se plantea lo siguiente</p>
    
       <ul class="texto">
            <li>
                 La estructura del proyecto con sus respectivas vistas.
            </li>

            <li>
                Creación de una tabla de multiplicar de acuerdo a los datos ingresados y una sección donde se puede modificar los colores en el archivo.
            </li>

            <li>
                En la aplicacion el resultado se muestra por consola, los datos solicitados y crea un archivo .txt
            </li>

            <li>
               Tambien el proyecto es registra en github.
            </li>
        </ul>
        <br>
        <br>
         <div class="image-container">
            <img class="molde" src="/IMG/yargs01.png" alt="Imagen de Portafolio">
            <br>
            <div class="text-container">
                <p class="texto">En esta primera vista se instalo git para poder crear el proceso de subir nuestra aplicación al repositorio respectivo./p>
            </div>
        </div>
        <br>
         <div class="image-container">
            <div class="text-container">
                <p class="texto">En esta segunda imagen se hace el regitstro de github y crear el respositorio respectivo donde será subida la aplicación creada. </p>
            </div>
            <img class="molde" src="/IMG/yargs2.png" alt="Imagen de Portafolio">
            <br>
        </div>
         <br>
         <div class="image-container">
            <img class="molde" src="/IMG/yargs3.png" alt="Imagen de Portafolio">
            <div class="text-container">
                <p class="texto">En esta tercera imagen se muestra la aplicación desarrollada con node js y la aplicación de yargas en la tabla de multiplicar y en la creación del archivo respectivo. </p>
            </div>
            
            <br>
        </div>

        <br>
        <p class="texto">A continuación se presenta un video o ling respectivamente para poder demostrar el trabajo que se desarrollo:</p>
        <br>
        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1iKn2zxJAPtgNfns1eRR1_mcRv4a3bPNE/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>