<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Crud simple con .NET Framework </h2>

    <p class="texto">1.	Formulario WEB o de Escritorio en lenguaje VB.NET o C#.NET 
Para la elaboración de la Bitácora en el curso de base de datos II, se estuvo trabajando con el lenguaje de programación “C#.NET”, ya que C# es un lenguaje de programación orientado a objetos, este nos proporciona construcciones de lenguaje para admitir directamente estos conceptos, por lo que se trata de un lenguaje natural en el que crear y usar componentes de software.
</p>


        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1mBhCbB0zbiyAy4GL3qO3rcWegnCAI7zg/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>