<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicación de Derivadas</h2>

        <p class="modi">El programa que desarrollamos en Java está diseñado para resolver automáticamente funciones matemáticas derivadas. Proporciona una herramienta eficaz para estudiantes, profesionales y entusiastas de las matemáticas que desean simplificar el proceso de cálculo de derivadas. </p>
        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1pbXbwnFtPMS1pn4dM-zeqBs1GcxmQ6kK/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>