<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Ejercicios haciendo uso de CSS </h2>

    <p>A continuación se presentan las imagenes de los diferentes ejercicios haciendo uso de CSS</p>

     <img src="/IMG/img01.png" alt="">
        <img src="/IMG/img2.png" alt="">
         <img src="/IMG/img3.png" alt="">
          <img src="/IMG/img4.png" alt="">
           <img src="/IMG/img5.png" alt="">
            <img src="/IMG/img6.png" alt="">
             <img src="/IMG/img7.png" alt="">
              <img src="/IMG/img8.png" alt="">

      
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>