<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicación de resolucion de formulas MRU y MRUV</h2>

    <p class="texto">La aplicación se desarrollo haciendo uso de html y css, además, se utilizo de javascript el Modelo de Objetos del Documento (DOM) para poder hacer la conexion entre la página web y la parte lógica. </p>
    <br>
         <div class="image-container">
            <img class="molde" src="/IMG/java1.png" alt="Imagen de Portafolio">
            <br>
            <div class="text-container">
                <p class="texto">En esta primera imagen se construyo la parte visual haciendo uso de html y css, además aplicando grid dentro de CSS</p>
            </div>
          </div>

           <div class="image-container">
            <div class="text-container">
                <p class="texto">En estos apartados se estuvo trabajando la vista de los formularios para poder resolver cada formula que corresponde al MRUV y MRU</p>
            </div>
            <img class="molde" src="/IMG/java2.png" alt="Imagen de Portafolio">
            <br>
            
          </div>


      <a class="texto" href="https://paginamru-production.up.railway.app/MRU.html">====>>> Visita la página</a>  

       
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>