<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>SIGA-INED </h2>

    <p class="texto">Es una aplicación que se está construyendo haciendo uso de .net framework, en el cual es un sistema integral para la gestion administrativa educativa construido para facilitar procesos y llevar un control en el Instituto de Educación Diversificada INED, Ya sea que sea un educador, un estudiante o un administrador escolar, se encontrará información detallada sobre cómo utilizar eficientemente cada aspecto del sistema.</p>
   <br>
     <div class="image-container">
            <img class="molde" src="/IMG/mvc1.png" alt="Imagen de Portafolio">
            <br>
            <div class="text-container">
                <p class="texto">En esta primera imagen permitira que pueda inscribir a nuevos estudiantes al sistema que llevará un mejor control de los alumnos inscritos</p>
            </div>
     </div>

       <div class="image-container">
             <div class="text-container">
                <p class="texto">Se cuenta también con un listado de asignaciones y otros registros correspondientemente.</p>
            </div>
            
            <img class="molde" src="/IMG/mvc2.png" alt="Imagen de Portafolio">
            <br>
           
     </div>
        <br>
     <div class="image-container">
            <img class="molde" src="/IMG/mvc3.png" alt="Imagen de Portafolio">
            <br>
            <div class="text-container">
                <p class="texto">Además, permite llevar un mejor control de docentes, también poder imprimir los reportes respectivos </p>
            </div>
     </div>
        <img src="/IMG/mvc4.png" alt="Proyecto 2">
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>