<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
        <main class="contenedor content-01 sombra">
    <h2>Portafolio con HTML y CSS haciendo uso de flexbox</h2>

    <p class="texto">
        Para el desarrollo de mi portafolio profesional se visitaron diferentes ejemplos de portafolios profesionales en el área de ingeniería para el desarrollo del siguiente portafolio profesional se estarán creando cinco apartados que tendrán la información necesaria para demostrar los aprendizajes adquiridos y la formación recibida que serán descritos a continuación: 
    </p>

       <ul class="texto">
            <li>
                <strong>Inicio:</strong> Página principal que destaca la información más relevante y proyectos destacados.
            </li>

            <li>
                <strong>Sobre Mí:</strong> Una sección donde comparto una breve biografía, mis objetivos profesionales y habilidades.
            </li>

            <li>
                <strong>Portafolio:</strong> Muestra una recopilación de mis proyectos anteriores con imágenes, descripciones y enlaces.
            </li>

            <li>
                <strong>Servicios:</strong> Detalles sobre los servicios que ofrezco, habilidades específicas y cómo puedo ayudar a los demás.
            </li>

            <li>
                <strong>Contacto:</strong> Información para que los visitantes se pongan en contacto conmigo, ya sea a través de un formulario o redes sociales.
            </li>
        </ul>
        <br>

        <p class="texto"> Además para el desarrollo de este portafolio se hizo uso de html5 y Css3 para poder dar el diseño adecuado</p>
        <br>
       <div class="image-container">
            <img src="/IMG/Portafolio.png" alt="Imagen de Portafolio">
            <img src="/IMG/sobremi.png" alt="Imagen de Sobre Mí">
            
        </div>
        <br>
         <div class="image-container">
            <img src="/IMG/proyectos.png" alt="Imagen de Portafolio">
            <img src="/IMG/contact.png" alt="Imagen de Sobre Mí">
            
        </div>


</main>


    <br>
      <br>

     {{> footer}}


</body>
</html>