<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2> Portafolio agregando configuración semidinámica</h2>

    <p class="texto">
        Este proyecto fue desarrollado con la combinación de directorios y tecnologías proporciona una arquitectura modular y fácil de mantener, haciendo uso de hbs, dotenv, express js, además se crearon diferentes carpetas para la separación de vistas, vistas parciales y archivos estáticos. 
    </p>
   <br>
   <p class="texto">Para desarrollar este proyecto se desarrollo lo siguiente: </p>
   <br>
   <ul class="texto">
            <li>
                 Instalación de hbs
            </li>

            <li>
                Se creo un respaldo de la carpeta public
            </li>

            <li>
                Se utilizó el renderizado de hbs.
            </li>

            <li>
               Creación de archivos hbs en la carpeta vista.
            </li>
            <li>
               Creación de la carpeta Partials.
            </li>
             <li>
               Instalación de dotenv.
            </li>
             <li>
              Configuracion del archivo .env
            </li>
             <li>
              Modificación del archivo package.json para que se pueda inicializar.
            </li>
        </ul>
        <br>
         <div class="video-container">
         <iframe src="https://drive.google.com/file/d/15TkkfysiR5nV6ND3yZ1Zdp6GaKBbmyYB/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>