<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Rest </h2>

    <p class="texto">Es importante mencionar que en esta práctica se tomo en cuenta los cors, dotenv y express, la utilización de una estructura para poder construir los rest de una forma dinámica y fácil de escalar.</p>
    <br>

    <p class="texto">A continuación se presentan la estructura de las carpetas y consultas que pueden hacerse utilizando postman o thunder:</p> 
    
  <ul class="texto">
    <li>Controllers</li>

    <li>database</li>

    <li>Middleware</li>

    <li>Models</li>

    <li>Routes</li>
    <br>
    <li><strong>GET:</strong> Para operaciones de consulta de datos. </li>

    <li><strong>POST:</strong> Operaciones de inserción.</li>

    <li><strong>PUT:</strong> Para realizar modificaciones.</li>

    <li><strong>PATCH:</strong> Para realizar modificaciones parciales en un recurso.</li>

    <li><strong>DELETE:</strong> Para eliminar un recurso dado.</li>
  </ul>
  <br>

  <p class="texto">Video de los ejercicios desarrollados</p>


        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1SDIISTDJjmW_V0XhRXyANql8jGYa4Bcd/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>