<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicación proyecto Base NODE JS y Express JS con hbs </h2>

    <p class="texto">
        En este proyecto se utiliza una plantilla de página web aplicando hbs haciendo uso de node js y express js para el direccionamiento respectivo de sus vistas,
        además en este proyecto se comienza a trabajar sitios semidinamicos con handlebars.js a continuación se presentan los pasos:
    </p>
    
       <ul class="texto">
            <li>
                 Instalación de hbs
            </li>

            <li>
                Se creo un respaldo de la carpeta public2
            </li>

            <li>
                Se utilizó el renderizado de hbs.
            </li>

            <li>
               Creación de archivos hbs en la carpeta vista.
            </li>
            <li>
               Creación de la carpeta Partials.
            </li>
             <li>
               Instalación de dotenv.
            </li>
             <li>
              Configuracion del archivo .env
            </li>
             <li>
              Modificación del archivo package.json para que se pueda inicializar.
            </li>
        </ul>
        <br>
        <br>
         <div class="image-container">
            <img class="molde" src="/IMG/road1.png" alt="Imagen de Portafolio">
            <br>
            <div class="text-container">
                <p class="texto">En esta primera vista se descomprime la plantilla para poder iniciar con el proceso de la creación de handlebars</p>
            </div>
        </div>
        <br>
         <div class="image-container">
            <div class="text-container">
                <p class="texto">En esta segunda imagen se observa la plantilla siendo ejecutada de forma estática </p>
            </div>
            <img class="molde" src="/IMG/road2.png" alt="Imagen de Portafolio">
            <br>
        </div>
         <br>
         <div class="image-container">
            <img class="molde" src="/IMG/road3.png" alt="Imagen de Portafolio">
            <div class="text-container">
                <p class="texto">En esta tercera imagen se crear los archivos hbs y los partials para poder ejecutar la plantilla de forma semidinamica. </p>
            </div>
            
            <br>
        </div>

        <br>
        <p class="texto">A continuación se presenta un video para poder demostrar el trabajo que se desarrollo:</p>
        <br>
        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1YS479Oh1iLzs8ON6qBE6VqAySwj6Opbb/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>