<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio jmluc</title>
    <link rel="preload" href="/CSS/normalize.css" as="style">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/CSS/styles.css" as="style">
    <link rel="stylesheet" href="CSS/styles.css"">
</head>
<body>
    {{> header}}

   {{> navbar}}

    <br>
        
    <main class="contenedor sombra">
        <h2>Aplicación de Analizador Sintáctico</h2>

    <p>La siguiente aplicación es la construcción de un analizador sintáctico que fue elaborado haciendo uso del lenguaje JAVA, con el fin de poder desarrollar el proceso que hace un compilador de lenguajes de programación, haciendo uso  de analizadores con las reglas de especificas en Java.</p>

        <div class="video-container">
         <iframe src="https://drive.google.com/file/d/1KylRHu0pFO3txkoeO5ARsAYFnO0ZQGDX/preview" width="640" height="360"></iframe>
        </div>
    </main>
    <br>
      <br>

     {{> footer}}


</body>
</html>